.header{
    background-color: blue;

    .header_container{
        margin: 0 auto;
        padding: 30px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_logo{
            color: white;
            font-size: 40px;
            font-weight: 700;
            
        }
        .header_logo_img{
            width: 100px;
        }
          
        .navbar{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 20px;

            .navbar_link{
                color: white;
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}
  
  